In [1]:
x = 10
y = 3

# Penjumlahan
print(x + y)  # Output: 13

# Pengurangan
print(x - y)  # Output: 7

# Perkalian
print(x * y)  # Output: 30

# Pembagian (hasilnya adalah float)
print(x / y)  # Output: 3.3333...

# Pembagian dengan pembulatan ke bawah (floor division)
print(x // y)  # Output: 3

# Modulus (sisa pembagian)
print(x % y)  # Output: 1

13
7
30
3.3333333333333335
3
1

In [6]:
a = 10.5
b = 2.0

# Penjumlahan
print(a + b)  # Output: 12.5

# Pembagian
print(a / b)  # Output: 5.25

# Perkalian
print(a * b)  # Output: 21.0

# Modulus
print(a % b)  # Output: 0.5

12.5
5.25
21.0
0.5

In [7]:
text = "Hello, Python!"

# Panjang string
print(len(text))  # Output: 14

# Mengubah menjadi huruf kapital
print(text.upper())  # Output: "HELLO, PYTHON!"

# Mengubah menjadi huruf kecil
print(text.lower())  # Output: "hello, python!"

# Mengganti bagian dari string
print(text.replace("Python", "World"))  # Output: "Hello, World!"

# Memeriksa apakah string mengandung kata tertentu
print("Python" in text)  # Output: True

# Menggabungkan string
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)  # Output: "John Doe"

14
HELLO, PYTHON!
hello, python!
Hello, World!
True
John Doe

In [8]:
fruits = ["apple", "banana", "cherry"]

# Akses elemen berdasarkan indeks
print(fruits[0])  # Output: "apple"

# Menambahkan elemen ke akhir list
fruits.append("orange")

# Menyisipkan elemen pada posisi tertentu
fruits.insert(1, "grape")

# Menghapus elemen berdasarkan nilai
fruits.remove("banana")

# Menghapus elemen berdasarkan indeks
del fruits[2]

# Menggabungkan dua list
new_fruits = fruits + ["melon", "kiwi"]
print(new_fruits)  # Output: ['apple', 'grape', 'orange', 'melon', 'kiwi']

apple
['apple', 'grape', 'orange', 'melon', 'kiwi']

In [3]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(person["name"])  # Output: "John"
print(person["age"])   # Output: 30

John
30

In [5]:
person = {"name": "Alice", "age": 25}

# Menambahkan pasangan kunci-nilai baru
person["city"] = "Los Angeles"

# Mengubah nilai berdasarkan kunci
person["age"] = 26

# Menghapus pasangan kunci-nilai
del person["city"]

# Mengambil semua kunci atau nilai
print(person.keys())  # Output: dict_keys(['name', 'age'])
print(person.values())  # Output: dict_values(['Alice', 26])

dict_keys(['name', 'age'])
dict_values(['Alice', 26])

In [9]:
# Operasi dengan integer
x = 10
y = 3

print("Penjumlahan:", x + y)  # Output: 13
print("Pengurangan:", x - y)  # Output: 7
print("Perkalian:", x * y)    # Output: 30
print("Pembagian:", x / y)    # Output: 3.3333...
print("Pembagian dengan pembulatan:", x // y)  # Output: 3
print("Modulus:", x % y)  # Output: 1
print("Pangkat:", x ** y)  # Output: 1000

# Operasi dengan float
a = 3.14
b = 2.0

print("Penjumlahan:", a + b)  # Output: 5.14
print("Perkalian:", a * b)    # Output: 6.28

Penjumlahan: 13
Pengurangan: 7
Perkalian: 30
Pembagian: 3.3333333333333335
Pembagian dengan pembulatan: 3
Modulus: 1
Pangkat: 1000
Penjumlahan: 5.140000000000001
Perkalian: 6.28

In [10]:
# Penggabungan string
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print("Nama Lengkap:", full_name)  # Output: John Doe

Nama Lengkap: John Doe

In [11]:
# Pengulangan string
greeting = "Hello! "
print(greeting * 3)  # Output: Hello! Hello! Hello!

Hello! Hello! Hello!

In [12]:
message = "Python"
print(message[0])  # Output: P (Karakter pertama)
print(message[-1])  # Output: n (Karakter terakhir)

P
n

In [13]:
message = "Hello, Python!"
print(message[0:5])  # Output: Hello (Karakter dari indeks 0 hingga 4)

Hello

In [14]:
message = "Hello, Python!"
print(message.upper())  # Output: HELLO, PYTHON!
print(message.lower())  # Output: hello, python!

HELLO, PYTHON!
hello, python!

In [15]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple (Elemen pertama)
print(fruits[-1])  # Output: cherry (Elemen terakhir)

apple
cherry

In [16]:
fruits.append("orange")  # Menambahkan "orange" di akhir list
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

fruits.insert(1, "grape")  # Menambahkan "grape" di posisi indeks 1
print(fruits)  # Output: ['apple', 'grape', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']
['apple', 'grape', 'banana', 'cherry', 'orange']

In [17]:
fruits.remove("banana")  # Menghapus elemen dengan nilai "banana"
print(fruits)  # Output: ['apple', 'grape', 'cherry', 'orange']

del fruits[1]  # Menghapus elemen pada indeks 1
print(fruits)  # Output: ['apple', 'cherry', 'orange']

['apple', 'grape', 'cherry', 'orange']
['apple', 'cherry', 'orange']

In [18]:
list1 = ["apple", "banana"]
list2 = ["cherry", "date"]

combined = list1 + list2  # Menggabungkan list
print(combined)  # Output: ['apple', 'banana', 'cherry', 'date']

list1.extend(list2)  # Menambahkan semua elemen list2 ke list1
print(list1)  # Output: ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date']

In [19]:
print("banana" in fruits)  # Output: False

False

In [20]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person["name"])  # Output: Alice

Alice

In [21]:
person["age"] = 26  # Mengubah nilai kunci "age"
person["country"] = "USA"  # Menambahkan pasangan kunci-nilai baru
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [22]:
del person["city"]  # Menghapus pasangan kunci-nilai dengan kunci "city"
print(person)

{'name': 'Alice', 'age': 26, 'country': 'USA'}

In [23]:
print(person.keys())   # Output: dict_keys(['name', 'age', 'country'])
print(person.values())  # Output: dict_values(['Alice', 26, 'USA'])

dict_keys(['name', 'age', 'country'])
dict_values(['Alice', 26, 'USA'])

In [25]:
# Menggunakan if-else untuk memeriksa angka
number = 10

if number > 0:
    print("Angka positif")
else:
    print("Angka negatif atau nol")

Angka positif

In [26]:
age = 20

if age < 18:
    print("Anak-anak")
elif 18 <= age < 60:
    print("Dewasa")
else:
    print("Lansia")

Dewasa

In [27]:
# Mengulangi angka dalam list
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)

1
2
3
4
5

In [28]:
# Menggunakan range untuk perulangan
for i in range(1, 6):  # Rentang dari 1 hingga 5
    print(i)

1
2
3
4
5

In [29]:
numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num

print("Total:", total)  # Output: 15

Total: 15

In [30]:
# Menggunakan while untuk mencetak angka 1 hingga 5
count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [31]:
# Menggunakan break untuk menghentikan loop
for i in range(1, 10):
    if i == 5:
        break  # Loop dihentikan saat i mencapai 5
    print(i)

1
2
3
4

In [32]:
# Menggunakan continue untuk melewatkan iterasi
for i in range(1, 10):
    if i == 5:
        continue  # Melewatkan angka 5
    print(i)

1
2
3
4
6
7
8
9

In [33]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        print(num, "adalah genap")
    else:
        print(num, "adalah ganjil")

1 adalah ganjil
2 adalah genap
3 adalah ganjil
4 adalah genap
5 adalah ganjil

In [35]:
def tambah(a, b):
    hasil = a + b
    return hasil

# Memanggil fungsi
result = tambah(3, 5)
print(result)  # Output: 8

8

In [36]:
def salam():
    print("Halo, selamat datang!")

# Memanggil fungsi
salam()  # Output: Halo, selamat datang!

Halo, selamat datang!

In [37]:
def cetak_data(data):
    print(f"Data yang diterima: {data}")

# Memanggil fungsi
cetak_data("Python")  # Output: Data yang diterima: Python

Data yang diterima: Python

In [38]:
def halo(nama, umur=30):
    print(f"Halo {nama}, umur Anda adalah {umur} tahun")

# Memanggil fungsi dengan umur default
halo("Alice")  # Output: Halo Alice, umur Anda adalah 30 tahun

# Memanggil fungsi dengan umur yang ditentukan
halo("Bob", 35)  # Output: Halo Bob, umur Anda adalah 35 tahun

Halo Alice, umur Anda adalah 30 tahun
Halo Bob, umur Anda adalah 35 tahun

In [39]:
def perkalian(x, y):
    return x * y

result = perkalian(4, 5)
print(result)  # Output: 20

20

In [40]:
def info_pegawai(nama, usia, posisi):
    print(f"Nama: {nama}, Usia: {usia}, Posisi: {posisi}")

# Memanggil fungsi dengan tipe data yang berbeda
info_pegawai("John", 30, "Developer")
# Output: Nama: John, Usia: 30, Posisi: Developer

Nama: John, Usia: 30, Posisi: Developer

In [41]:
def hitung_rata_rata(nilai):
    return sum(nilai) / len(nilai)

# Memanggil fungsi dengan list
nilai_mahasiswa = [85, 90, 78, 92, 88]
rata_rata = hitung_rata_rata(nilai_mahasiswa)
print(f"Rata-rata nilai mahasiswa: {rata_rata}")  # Output: Rata-rata nilai mahasiswa: 86.6

Rata-rata nilai mahasiswa: 86.6

In [47]:
import pandas as pd

# Fungsi untuk menghapus nilai yang hilang
def hapus_data_kosong(df):
    return df.dropna()

# Fungsi untuk mengganti nilai yang salah
def ganti_nilai_salah(df, kolom, nilai_lama, nilai_baru):
    df[kolom] = df[kolom].replace(nilai_lama, nilai_baru)
    return df

# Fungsi untuk mengubah tipe data
def ubah_tipe_data(df, kolom, tipe_baru):
    df[kolom] = df[kolom].astype(tipe_baru)
    return df

# Contoh penggunaan
data = {'Nama': ['John', 'Jane', 'Tom', None],
        'Usia': [28, 34, None, 25]}
df = pd.DataFrame(data)

# Membersihkan data dengan fungsi
df_cleaned = hapus_data_kosong(df)
df_cleaned = ganti_nilai_salah(df_cleaned, 'Usia', None, 30)
df_cleaned = ubah_tipe_data(df_cleaned, 'Usia', 'int')

print(df_cleaned)

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'

In [48]:
def faktorial(n):
    if n == 0:
        return 1
    else:
        return n * faktorial(n - 1)

# Memanggil fungsi rekursif
print(faktorial(5))  # Output: 120

120

In [49]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [50]:
numbers = [1, 2, 3, 4, 5, 6]
even_squared = [num ** 2 for num in numbers if num % 2 == 0]
print(even_squared)  # Output: [4, 16, 36]

[4, 16, 36]

In [51]:
import pandas as pd

# Membuat DataFrame sederhana
data = {'Nama': ['John', 'Jane', 'Tom', 'Alice']}
df = pd.DataFrame(data)

# Menggunakan list comprehension untuk mengubah nama menjadi huruf kapital
df['Nama'] = [name.upper() for name in df['Nama']]
print(df)

    Nama
0   JOHN
1   JANE
2    TOM
3  ALICE

In [52]:
# Fungsi lambda untuk menjumlahkan dua angka
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8

8

In [53]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [54]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [55]:
names = ["John", "Alice", "Bob", "Tom"]
sorted_names = sorted(names, key=lambda name: len(name))
print(sorted_names)  # Output: ['Bob', 'Tom', 'John', 'Alice']

['Bob', 'Tom', 'John', 'Alice']

In [56]:
import pandas as pd

# Membuat DataFrame
data = {'Nama': ['John', 'Jane', 'Tom', 'Alice'],
        'Usia': [28, 34, 25, 40]}
df = pd.DataFrame(data)

# Menggunakan list comprehension untuk menambahkan kolom baru
df['Usia_Tahun_Depan'] = [age + 1 for age in df['Usia']]

# Menggunakan lambda dengan apply() untuk menghitung panjang nama
df['Panjang_Nama'] = df['Nama'].apply(lambda name: len(name))

print(df)

    Nama  Usia  Usia_Tahun_Depan  Panjang_Nama
0   John    28                29             4
1   Jane    34                35             4
2    Tom    25                26             3
3  Alice    40                41             5